:root {
  --main-color: #374259;
  --primary-color: #e3dddd;
  --box-color: #9babb8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--main-color);
}

.box {
  min-width: 450px;
  font-family: sans-serif;
  background-color: var(--box-color);
  padding: 10px;
  margin: 0 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
}

.box input {
  width: 100%;
  margin: 8px;
}

.slider {
  width: 60%;
  margin: 50px auto;
  -webkit-appearance: none;
  height: 3px;
  border-radius: 4px;
  margin-bottom: 15px;
  background-color: var(--main-color);
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 10px;
  background-color: var(--primary-color);
  overflow: visible;
  cursor: pointer;
}

.slidecontainer {
  transform: translateY(-10px);
}
/* styles only for generated code input */
.coppy-link {
  --height: 36px;

  width: 100%;
  display: flex;
  outline: 1px solid gray;
  background-color: var(--primary-color);
}

.coppy-link-input {
  flex-grow: 1;
  padding: 0 4px;
  font-size: 14px;
  border: none;
  border-right: none;
  outline: none;
  transition: all 100ms ease;
  background-color: var(--primary-color);
}

.coppy-link-btn {
  font-size: 20px;
  flex-shrink: 0;
  height: var(--height);
  width: var(--height);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ddd;
  color: #333333;
  outline: none;
  border: 1px solid #ccc;
  cursor: pointer;
  transition: all 100ms ease;
}

.coppy-link-btn:hover {
  background-color: #ccc;
}
